@use 'element-plus/theme-chalk/dark/css-vars.css';

$primary-color: #409eff;
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;

$border-radius: 4px;
$border-color: #dcdfe6;
$font-size-base: 14px;
